@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-moda: var(--font-bodoni-moda);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: auto !important; /* Browser-oda jump animation stop */
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
}

/* remove scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* my own colors */
@theme {
  /* Colors */
  --color-primary: #050816;
  --color-secondary: #aaa6c3;
  --color-accent: #915eff;
  --color-tertiary: #151030;

  /* Additional custom colors */
  --color-black-100: #100d25;
  --color-black-200: #090325;
  --color-white-100: #f3f3f3;

  /* Backgrounds */
  --background-image-hero-pattern: url("/assets/bg/homebg.svg");
}

.padding {
  @apply px-[3%];
}

.revolver-chamber {
  transform-origin: center center; /* This ensures all rotations happen from the exact center */
}
@keyframes bullet {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(100vw + 100px));
  }
}

.animate-bullet {
  animation: bullet 0.45s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 8s linear infinite;
}

/* for animation */
/* .animate-heading,
.animate-para,
.animate-grid-item,
.animate-img {
  opacity: 0;
} */
